html {
    height: 100vh;
}

body {
    align-content: center;
}

.separator {
    height: 1px;
    background-color: rgb(200, 200, 200);
    width: calc(100%-5px);
    margin: 5px 0;
    padding: 0;
}

.std-border {
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 6px;
    overflow-y: auto;
    width: 500px;
    align-items: center;
    align-content: stretch;
    
}

table, 
th, 
tr, 
td {
    align-items: stretch;
    align-content: stretch;
    padding: 3px;
}


input[type="checkbox"]::after {
    content: attr(description)
}

select,
select option,
input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    outline: 0;
    padding: 0 7px;
    margin: 2px 0;
}


button.small-button {
    border-radius: 40%;
    margin: 5px 2px;
    width: 32px;
    padding: 0 !important;
    text-align: center;
}


input[type="button"],
button {
    text-align: center;
    color: rgb(58, 58, 58);
    padding: 0 15px;
    line-height: 30px;
    margin: 5px 0;
    background: rgb(243, 243, 243);
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid rgb(196, 196, 196);
}

#opr-keys {
    margin-top: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}